
.navbar {
  width: 100%;
  height: 70px;
  background: #111827; 
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
}


.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 6px;
}

.navbar ul li a:hover {
  background: #1f2937;
  color: #22d3ee;
}


.navbar ul li a.active {
  color: #22d3ee;
  border-bottom: 2px solid #22d3ee;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px 0;
  border-radius: 5px;
  transition: 0.3s;
}


@media (max-width: 900px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar ul {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 220px;
    height: 100vh;
    background: #111827;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
    gap: 20px;
    transition: right 0.3s ease;
  }

  .navbar ul.open {
    right: 0;
  }

  .menu-toggle {
    display: flex;
  }
}


.navbar ul li a::after {
  content: "";
  display: block;
  height: 2px;
  background: #22d3ee;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar ul li a:hover::after {
  transform: scaleX(1);
}


